@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
:root {
  font-family: "Comic Neue", serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 2px;
  background-color: rgba(3, 97, 9, 0.938);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  line-height: 22px;
}
p {
  display: flex;
  justify-content: center;
  /* line-height: 64px; */
  padding: 16px;
  font-size: 20px;
}
nav li {
  list-style: none;
  display: inline-block;
  margin-right: 32px;
}

a {
  text-decoration: none;
  color: white;
}

article {
  margin: 8px;
}

td {
  vertical-align: top;
}

ol li {
  line-height: 2;
}

footer {
  padding: 2px;
  background-color: black;
  color: white;
  text-align: center;
}

article-p {
  text-align: center;
}
.right-aligned-image {
  text-align: right;
}

table {
  text-align: center;
}

.image-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.image-list img {
  height: 55%;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.image-list img:hover {
  height: 75%;
  opacity: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
